body {
  font-family: Tahoma, Verdana, sans-serif;
}

pre {
  font-size: 12px;
}

/* Hide default HTML5 video Google Cast Icon */
/* The player does that job with JavaScript but it seems FireOS needs CSS as well to hide this icon */
video::-webkit-media-controls-overlay-enclosure {
  display: none !important;
}
